{{!-- make homepage --}}
<div class="product-flex">
{{#each products as |product| }}
<div class="product-item">
   <div class="card text-white bg-secondary " >
   <img class="card-header">{{product.image.img}}</img>
  <div class="card-body ">
    <h3 class="card-text">{{product.type}}</h3>
  </div>
  <br>
  <br>
  <br>
  <div class="col-12 text-center">
       <a class=" post-link" href="/api/materials/"> <button class="btn " id="viewBtn" >View Material</button></a>
      </div>
</div>
</div>
{{/each}}
</div>
{{!-- shows list of cats --}}